// <<< - - - EDUCATION ITEM STYLES - - - >>>

@import '../../../mixins/display-flex-column';

.education__item {
  background-color: var(--background-color);
}

.card {
  @include display-flex-column;
  border: var(--border-pattern);

  &__title {
    padding: 4px 8px 4px;
    font-size: var(--card-title-font-size);
  }

  &__image-block {
    @include display-flex-column;
    position: relative;
    border-top: var(--border-pattern);
    border-bottom: var(--border-pattern);
  }

  &__label {
    position: absolute;
    right: 25px;
    top: 25px;
    font-family: var(--accent-font-family);
    font-size: var(--label-font-size);
    opacity: 0.5;
    mix-blend-mode: hard-light;
    text-shadow:
      1px 0 var(--label-color),
      -1px 0 var(--label-color),
      0 1px var(--label-color),
      0 -1px var(--label-color);
    z-index: 1;
  }

  @supports ((-webkit-text-stroke: 1px var(--label-color))) {
    &__label {
      -webkit-text-stroke: 1px var(--label-color);
      text-shadow: none;
    }
  }

  &__image {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    @include display-flex-column;
    padding: 25px;
    gap: 26px;
  }

  &__description {
    @include display-flex-column;
    gap: 26px;
  }

  &__button-line {
    display: flex;
    justify-content: end;
  }

  &__icon-button {
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }

  &__icon-button:focus {
    outline: none;
  }

  &__icon-button:focus-visible {
    outline: var(--border-pattern);
    outline-offset: -2px;
  }

  &__like-button {
    inline-size: 130px;
    padding: 9px 0;
  }
}

.education__item:nth-child(2) .card__image {
  filter: grayscale(80%);
}

.education__item:nth-child(3) .card__image {
  filter: hue-rotate(293deg);
}

.education__item:nth-child(4) .card__image {
  filter: saturate(666%);
}

.education__item:nth-child(5) .card__image {
  filter: invert(75%);
}

.education__item:nth-child(6) .card__image {
  filter: sepia(100%);
}

.education__item:nth-child(7) .card__image {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

.education__item:nth-child(8) .card__image {
  filter: blur(2px);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}
