// <<< - - - ANIMATION STYLES - - - >>>

@keyframes arrow {
  from {
    left: -15px;
  }

  to {
    left: -19px;
  }
}

@keyframes scale-animation {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
