// <<< - - - FOOTER STYLES - - - >>>

@import '../mixins/display-flex-column';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 52px 100px;
  background-color: var(--background-color);

  &__button {
    @include display-flex-column;
    gap: 8px;
    align-items: center;
    padding: 15px 20px;
    color: var(--accent-color);
  }
}

.floppy {
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.dialog {
  position: fixed;
  inset: 0;
  font-family: var(--accent-font-family);
  font-size: 14px;
  padding: 30px 26px;
  color: var(--accent-color);
  background: var(--background-color);
  border: var(--border-pattern);
  transition: opacity 0.9s ease-in-out;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 30%);
  backdrop-filter: blur(7px);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  @include display-flex-column;
  gap: 26px;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-inline-size: 234px;
  width: 100%;
}

.dialog__text-container {
  display: flex;
  gap: 22px;
}

.dialog .floppy {
  inline-size: 39px;
  box-sizing: 39px;
  mix-blend-mode: normal;
}

.dialog-button {
  inline-size: 100%;
  padding: 10px 0;
  background: var(--page-background);
  text-transform: uppercase;
}
