footer.footer
  button.footer__button.page-button(
    onclick='window[\'dialog-id\'].showModal();',
    aria-controls='dialog-id'
  )
    svg.footer__svg
      use(href='../../svg/floppy.svg#floppy')
    span.footer__button-text.button__text Сохранить на память
