footer.footer
  button.footer__button(
    onclick='window[\'dialog-id\'].showModal();',
    aria-controls='dialog-id'
  )
    svg.floppy(viewBox='0 0 29 28')
      use(href='../../svg/floppy.svg#floppy')
    span.button__text Сохранить на память
