@import '../mixins/display-flex-column';

.header {
  @include display-flex-column;
  gap: 25px;
  align-items: center;
  padding: 126px 0 25px;
  border: 2px solid #000;
  background-color: #fff;
  font-family: 'PressStart2P', sans-serif;

  &__logo-group {
    @include display-flex-column;
    gap: 20px;
    align-items: center;
  }

  &__link {
    font-size: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
    text-decoration: none;
  }

  &__title {
    font-size: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
  }
}

@import './theme-menu/theme-menu';
