@import '../mixins/display-flex-column';

.header {
  @include display-flex-column;
  gap: 22px;
  align-items: center;
  padding: 136px 0 23px;
  margin-block-end: 102px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--accent-font-family), sans-serif;

  &__logo-group {
    @include display-flex-column;
    gap: 20px;
    align-items: center;
  }

  &__link {
    font-size: var(--header-link-font-size);
    text-decoration: none;
    text-transform: uppercase;
  }

  &__title {
    font-size: var(--header-title-font-size);
    text-transform: uppercase;
  }
}

@import './theme-menu/theme-menu';
