doctype html 
html(lang='ru')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    title Закрывающий тег
    link(rel='stylesheet', href='bundle.css')
    script(src='./scripts/set-theme.js')
  body.page
    include ../styles/header/header
    block main
    script(src='./scripts/like.js')
