@import '../mixins/display-flex-column';

.page {
  @include display-flex-column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  gap: 102px;
  margin: 0 auto;
  padding-block-start: 102px;
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgba(0, 0, 0, 0) 2px 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: 'Inter-Variable', sans-serif;
  }
}
