.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  display: flex;
  flex-direction: column;
  gap: 102px;
  margin: 0 auto;
  padding-block-start: 102px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: 'Inter-Variable', sans-serif;
  }
}
