@import '../mixins/display-flex-column';

.page {
  @include display-flex-column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  margin: 0 auto;
  padding-block-start: 102px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--fallback-font-family), sans-serif;
  font-size: var(--main-font-size);
  color: var(--accent-color);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-family), sans-serif;
  }
}
